<footer class="site-footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4">
        <h3 class="mb-4">¿Quienes Somos?</h3>
        <ul class="list-unstyled ">
          <h6>({{infoPageService.info.titulo}})</h6>
          <li class="d-flex"><span class="mr-3"><span
                class="icon ion-ios-location"></span></span><span>{{infoPageService.info.localizacion}}</span></li>
          <li class="d-flex"><span class="mr-3"><span
                class="icon ion-ios-telephone"></span></span><span>{{infoPageService.info.telefono}}</span></li>
          <li class="d-flex" routerLinkActive="active"><span class="mr-3"><span class="icon ion-email"></span></span><a
              routerLink="#"><span>{{infoPageService.info.email}}</span></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="mb-4">Últimos Blogs</h3>
        <ul class="list-unstyled blog-entry-footer">
          <li><a href="#">
              <span class="post-meta">Marzo 20, 2018</span>
              <h3>Los mejores cortes realizados</h3>
            </a>
          </li>
          <li><a href="#">
              <span class="post-meta">Diciembre 20, 2018</span>
              <h3>4 Horas de semana laboral y el resto es viaje.</h3>
            </a>
          </li>
          <li><a href="#">
              <span class="post-meta">Enero 2, 2019</span>
              <h3>Porque deberias venir a nosotros</h3>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <!-- Redes sociales -->
        <h3>Redes Sociales</h3>
        <div>
          <a href="{{infoPageService.info.facebook}}" class="p-3"><span class="fa fa-facebook"></span></a>
          <a href="{{infoPageService.info.twitter}}" class="p-3"><span class="fa fa-twitter"></span></a>
          <a href="{{infoPageService.info.instagram}}" class="p-3"><span class="fa fa-instagram"></span></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <!-- Modificación de fecha -->
        Copyright &copy; {{anyo}} Derechos reservados | Este tema esta realizado por
        <!-- Derechos de autor -->
        <a href="https://colorlib.com" target="_blank" class="fa fa-heart-o"> Colorlib</a>
      </div>
    </div>
  </div>
</footer>