<section class="site-hero overlay" data-stellar-background-ratio="0.5"
  style="background-image: url(assets/images/big_image_1.jpg);">
  <div class="container">
    <div class="row align-items-center site-hero-inner justify-content-center">
      <div class="col-md-8 text-center">

        <div class="mb-5 element-animate">
          <img src="assets/images/banner_text_1.png" alt="Image placeholder" class="img-md-fluid">
          <p class="lead">Una de las barberias con mas experiencia de España</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="quick-info element-animate" data-animate-effect="fadeInLeft">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 bgcolor">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="media">
              <div class="mr-3 icon-wrap"><span class="icon ion-ios-telephone"></span></div>
              <div class="media-body">
                <h5>{{infoPageService.info.telefono}}</h5>
                <p>Cualquier consulta o cita llamanos</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="media">
              <div class="mr-3 icon-wrap"><span class="icon ion-location"></span></div>
              <div class="media-body">
                <h5>{{infoPageService.info.localizacion}}</h5>
                <p>Encuentranos en esta ubicación</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="media">
              <div class="mr-3 icon-wrap"><span class="icon ion-android-time"></span></div>
              <div class="media-body">
                <h5>Desde: 10 am - 22 pm</h5>
                <p>Lunes-Viernes, Domingos <br> Sabados: Cerrado</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->


<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pr-5">

        <h2 class="mb-3">Servicios</h2>
        <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
          live the blind texts. </p>

        <div class="mb-3 custom-nav">
          <a href="#" class="btn btn-primary btn-sm custom-prev mr-2 mb-2"><span
              class="ion-android-arrow-back"></span></a>
          <a href="#" class="btn btn-primary btn-sm custom-next mr-2 mb-2"><span
              class="ion-android-arrow-forward"></span></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 slider-wrap">
            <div class="owl-carousel owl-theme no-nav js-carousel-1">

              <a href="#" class="img-bg" style="background-image: url('assets/images/img_2.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Haircuting</h2>
                  <p>Read More</p>
                </div>
              </a>

              <a href="#" class="img-bg" style="background-image: url('assets/images/img_1.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Beard Shaving</h2>
                  <p>Read More</p>
                </div>
              </a>

              <a href="#" class="img-bg last" style="background-image: url('assets/images/img_3.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Cream &amp; Shampoo</h2>
                  <p>Read More</p>
                </div>
              </a>

              <a href="#" class="img-bg" style="background-image: url('assets/images/img_2.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Haircuting</h2>
                  <p>Read More</p>
                </div>
              </a>

              <a href="#" class="img-bg" style="background-image: url('assets/images/img_1.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Beard Shaving</h2>
                  <p>Read More</p>
                </div>
              </a>

              <a href="#" class="img-bg last" style="background-image: url('assets/images/img_3.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Cream &amp; Shampoo</h2>
                  <p>Read More</p>
                </div>
              </a>
              <a href="#" class="img-bg" style="background-image: url('assets/images/img_2.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Haircuting</h2>
                  <p>Read More</p>
                </div>
              </a>

              <a href="#" class="img-bg" style="background-image: url('assets/images/img_1.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Beard Shaving</h2>
                  <p>Read More</p>
                </div>
              </a>

              <a href="#" class="img-bg last" style="background-image: url('assets/images/img_3.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Cream &amp; Shampoo</h2>
                  <p>Read More</p>
                </div>
              </a>
              <a href="#" class="img-bg" style="background-image: url('assets/images/img_2.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Haircuting</h2>
                  <p>Read More</p>
                </div>
              </a>

              <a href="#" class="img-bg" style="background-image: url('assets/images/img_1.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Beard Shaving</h2>
                  <p>Read More</p>
                </div>
              </a>

              <a href="#" class="img-bg last" style="background-image: url('assets/images/img_3.jpg')">
                <div class="text">
                  <span class="icon custom-icon flaticon-scissors"></span>
                  <h2>Cream &amp; Shampoo</h2>
                  <p>Read More</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="site-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2>Nuestros Servicios</h2>
        <p>Siempre con la máxima calidad posible</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="media d-block media-feature text-center">
          <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors-1"></span></div>
          <div class="media-body">
            <h3>Tratamiento Anti-caída</h3>
            <p>Cuida tu cabello para evitar la caída especializados en reforzar el cabello.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media d-block media-feature text-center">
          <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-cream"></span></div>
          <div class="media-body">
            <h3>Tratamiento nutritivo</h3>
            <p>Mantén tu cabello natural y con la máxima vitalidad gracias a nuestros productos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media d-block media-feature text-center">
          <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-moustache"></span></div>
          <div class="media-body">
            <h3>Arreglo de barba</h3>
            <p>Mantén tu cabello natural y con la máxima vitalidad gracias a nuestros productos.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="media d-block media-feature text-center">
          <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors"></span></div>
          <div class="media-body">
            <h3>Corte de cabello</h3>
            <p>Especializados en todo tipo de cortes de cabello para todas las edades y estilos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media d-block media-feature text-center">
          <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-razor"></span></div>
          <div class="media-body">
            <h3>Afeitado Profesional</h3>
            <p>Saborea el apurado de nuestras navajas mientras se deslizan sobre tu piel.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media d-block media-feature text-center">
          <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-hair-comb"></span></div>
          <div class="media-body">
            <h3>Desrizante de queratina</h3>
            <p>Desriza tu cabello a la vez que lo nutres y le das vitalidad, con nuestra queratina.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="section-cover cta" data-stellar-background-ratio="0.5"
  style="background-image: url(assets/images/big_image_2.jpg);">
  <div class="container">
    <div class="row justify-content-center align-items-center intro">
      <div class="col-md-8 text-center element-animate" routerLinkActive="active">
        <h2 class="mb-4"><span>Novdedad</span> Obten 25% de descuento despues de 10 cortes</h2>
        <p><a routerLink="#" class="btn btn-black">Pedir hora</a></p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 video-wrap mb-5">
        <img src="assets/images/img_5.jpg" alt="Image placeholder" class="img-fluid">
        <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><span
            class="fa fa-play"></span></a>
      </div>
      <div class="col-md-6 pl-md-5">
        <h3>Good Looking Style</h3>
        <p class="lead">Start with us today</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere a excepturi quod impedit rerum ipsum
          totam incidunt, necessitatibus id veritatis maiores quos saepe dolore commodi magnam fugiat. Incidunt, omnis.
        </p>
        <p>Nobis quae eaque facere architecto eligendi, voluptas quasi, blanditiis aperiam possimus inventore quis nam!
          Cupiditate necessitatibus, voluptatem excepturi placeat exercitationem quos vitae ut vero dolorem, provident
          sit odio porro facere.</p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->