<header role="banner">
  <nav class="navbar navbar-expand-md navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="home">Alotan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
        aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
        <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
          <!-- <li routerLinkActive="active" class="nav-item">
            <a class="nav-link active" routerLink="home">Home</a>
          </li> -->
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="hairstyle">Estilos</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="about">Sobre Nosotros</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="contact">Contactanos</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link active" routerLink="blog">Blog</a>
          </li>
        </ul>
        <div clas="bg-light">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
              </form>
        </div>
      </div>
    </div>
  </nav>
</header>