body { 
  background-color: lightgrey; 
  font-family: sans-serif;
}

h2, h1{ 
  text-align: center; 
}

.text{
  color:blue;
}

div#main{
  position:absolute;
  width: 900px;
  left:50%;
  margin-left: -445px; 
}

#estilo, #mostrar{
  border: 1px solid black;
  height: 100px;
}

#galeria {
  width: 550px; 
  height: 380px; 
  margin-top: 50px; 
  text-align: center;
  margin-left: 180px;
}

#fotoBox {
  width: 500px; 
  height: 333px; 
  margin-left: 25px; 
  margin-top: 10px; 
  border: 1px black solid;
}

#prev, #next {
  width: 60px; 
  height: 20px; 
  font-size: 14px; 
  float: left; 
  border: 1px black solid; 
  margin-top: 5px;
  background-color: rgb(233, 179, 154); 
}
#prev {
  margin-left: 210px;
}

#next {
  margin-left: 10px;
}

a, a:hover, a:visited {
  text-decoration: none; 
  color: black;
}

#galeriaLink, #clasiLink{
  margin-top: 10px;
}

#galeriaLink {
  margin-left: 370px;
}

#clasiLink {
  margin-left: 5px;
}

#galeriaLink:hover, #clasiLink:hover {
  color: red;
}

#clasiBox {
  display: none;
}

#clasiCont {
  margin-top: 100px;
}

li {
  margin-top: 5px;
}


