$l : left;
$a : 110px;

#divCir {
    float: $l;
    width: $a;
    height: $a;
    padding: 10px;
    border: 1px solid red;
}

#divTri {
    float: $l;
    width: $a;
    height: $a;
    padding: 10px;
    border: 1px solid green;
}

#divCua {
    float: $l;
    width: $a;
    height: $a;
    padding: 10px;
    border: 1px solid purple;
}

.navbar{
    color: bisque;
}

#empezar{
    width: 10%;
    height: 50px;
}

