$l : left;
$a : 110px;
$m : 3px;

#objetos{
    margin-top:10%;
    text-align: center;
}

#dragCir, #dragTri, #dragCua{
    margin: 10% 4px 4px 4px;
}

#divCir, #divTri, #divCua{
    float: $l;
    width: $a;
    height: $a;
    margin: $m;
}

.navbar{
    color: bisque;
}

#inicio{
    margin-top: 60%;
    text-align: center;
}

#empezar {
    height: 60px;
    width: 200px;
    color: black; 
    border: 1px solid black;
}

#volver{
    height: 50px;
    width: 150px;
    margin: 10% auto;
    color: black; 
    border: 1px solid black;
}