<div class="card">
  <div class="card-header bg-primary text-white">
    My product's list </div>
  <div class="card-block">
    <div class="table-responsive" *ngIf="products && products.length">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Available</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let products of products">
            <td>{{products.desc}}</td>
            <td>{{products.price}}</td>
            <td>{{products.avail}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>