$fontWe: bold;
$num20: 20px;
$num30: 30px;
$txtAlig: center;
$size-height: 70px;
$top: 5%;

body {
    background: url(ahorcado.jpg) no-repeat center center fixed;
    font-family: "Times New Roman", Times, serif; 
    text-align: $txtAlig; 
}

table {
    margin: auto;
    td{
        margin: 2px;
    }
}

#mensajeTitulo {
    font-size: $size-height;
    font-weight: $fontWe;
}

#posicionFallo{
    font-size: $num30;
    color : blue;
    height: $size-height;
    margin-top: 10%;
}

#posicionLetra{
    font-size: $num30;
    color: black;
    height: $size-height;
    margin-top: $top;
}

#letrasErroneas {
    margin-top: $top;
    color: red;
    font-weight: $fontWe;
}

#eligeLetra {
	width: 30px;
	height: 30px;
	font-size: $num20;
}

#introducirLetra {
	font-weight: $fontWe;
  	font-size: $num20;
    position: relative;
    margin-top: 40%;
} 

#posicionReinicio {
    margin-top: $top;
}

#mensajeFinal {
    font-weight: $fontWe;
    font-size: $num20;
    margin: $top;
}

#posicionBoton{
    margin-top: $top;
}

.btn {
	background-color: black;
	border-radius: 30px;
	border: 2px solid white;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: $num20;
	padding: 10px 20px;
}
