body { 
  background-color: lightgrey; 
  font-family: sans-serif;
}

h2, h1{ 
  text-align: center; 
}

div#main{
  position:absolute;
  width: 900px;
  left:50%;
  margin-left: -445px; 
}

/*Galeria*/
#galeria {
  width: 550px; 
  height: 380px; 
  margin-top: 50px; 
  text-align: center;
  margin-left: 180px;
}

#fotoBox {
  width: 500px; 
  height: 333px; 
  margin-left: 25px; 
  margin-top: 10px; 
}

#prev, #next {
  width: 60px; 
  height: 20px; 
  font-size: 14px; 
  float: left; 
  margin-top: 5px;
  background-color: black;
  color: white;
}

#prev {
  margin-left: 210px;
}

#next {
  margin-left: 10px;
}

a, a:hover, a:visited {
  text-decoration: none; 
  color: black;
}

#galeriaLink, #clasiLink{
  margin-top: 10px;
}

#galeriaLink {
  margin-left: 390px;
}

.btn:disabled {
  background-color: red !important;
}

/*Clasificación*/
#clasiBox {
  display: none;
}

#clasiCont {
  display: grid;
  grid-template-columns: auto 80%;
  height: 350px;
}

.text {
  font-size: 20px;
  border: 1px solid white;
  color: red;
  width: 150px;
  text-align: center;
  padding: 10px; 
  margin-top: 10px;
}

.mostrar {
  display: grid;
  grid-template-rows: 20%;
}

#activo {
  background-color: black;
}

#activo > div {
  margin-left: auto;
  margin-right: auto;
}

#ganadores{
  background-color:white;
  text-align: center;
}

/*links*/
#galeriaLink:hover, #clasiLink:hover {
  color: red;
}


