body{margin:0; padding:0; font-family: tahoma, courier; background-color:#E6E6E6; font-size: 12px;}
div {box-sizing: border-box;}
select {border-radius: 5px; border: 1px black solid;}
#box {width: 900px; height: 1300px; border-left: 1px black solid; border-right: 1px black solid;
position: absolute; left: 50%; margin-left: -445px; background-color: #FFF;}

/* Datos personales  */
.title {width: 850px; margin-left: 25px; border-bottom: 1px black solid;margin-top: 30px; margin-bottom: 30px; font-size: 16px;}
.fila {width: 850px; margin-left: 25px; height: 25px; }
.label {width: 60px; height: 25px; font-size: 14px; text-align: right;float: left;}
.labelmid {width: 80px; height: 25px; font-size: 14px; text-align: right;float: left;}
.labelsized {width: 135px; height: 25px; font-size: 14px; text-align: right;float: left;}
.labelsmall {width: 25px; height: 25px; font-size: 14px; text-align: left;float: left;  margin-left: -5px;}
.input {width: 170px; margin-left: 5px; height: 25px; float: left; margin-right: 20px; }
.inputsmall {width: 100px;margin-left: 5px; height: 25px; float: left;}
.inputsized {width: 210px; margin-left: 5px; height: 25px; float: left; margin-right: 20px; }
.inp {border: 1px black solid; border-radius: 5px; width: 160px;}
.inpmedium {border: 1px black solid; border-radius: 5px; width: 85px; }
.inpsmall {border: 1px black solid; border-radius: 5px; width: 60px;}

/* test anciedad */
.tabla, .tabla2, .tabla3, .tabla4 {width: 850px; border: 1px black solid; margin-left: 25px;}
.tabla {height: 245px;}
.label2, .label3 { height: 25px; border: 1px black solid; float: left; margin: 1px; font-weight: bold; padding:2px; padding-left: 4px;}
.label2 {width: 600px;}
.label3 {width: 121px; text-align: center;}

/* checkboxes */
.tabla2 {height: 145px;} 
.tabla3 {height: 165px;}
.tabla4 {height: 145px;}
.column {float: left; width: 424px; height: 145px;  }
.checks {width: 20px; height: 20px; float: left;}
.checklabel, .checklabel2 { height: 20px;  font-weight: bold; float: right; }
.checklabel {width: 400px;}
.checklabel2 {width: 825px;}

/* submit */
.sendbox {width: 850px; height: 30px; text-align: center; margin-top: 30px;}
#error1, #error2, #error3, #error4, #error5 {color: red; text-align: right; font-size: 12px; float: right;}
.fail {float:left;}
.mensaje {text-align: center; margin-top: 40px; font-size: 20px; color: green;}

